html, body {
  margin: 0;
  -moz-osx-font-smoothing: grayscale;
  background-color: #0b2638;
  background: linear-gradient(160deg, #0b2638 0%, #030c12 100%);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  

}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  margin-top: 2em;
  /* always place content from the top */
  padding-top: 0px;
  /* background: linear-gradient(160deg, #0b2638 0%, #030c12 100%); */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

p > img {
  width: 100%;
  height: auto;
  border-radius: 5px;
  border: 1px solid lightgray;
}


h6 > img {
  /* width: 20px !important; */
  margin-bottom: -5px;
  width: 40px;
  height: auto;
  border: none;
  border-radius: 5px;
}

#logo {
  filter: invert(100%)
}

#content {
  max-width: 768px;
  padding: 20px;
  margin: 20px;
}

#entry {
  background-color: rgba(255, 255, 255, 0.05);
  border-radius: 5px;
  transition: background-color 0.2s;
}
#entry:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

@media only screen and (max-width: 600px) {
  #content {
    max-width: 100%;
    padding: 5px;
    margin: 5px;
  }
}

::selection {
  color: gray;
  background:  #fff080;
  /* extend the selection to mimick pdf highlighting */
  padding: 0 5px;
}

::-moz-selection { /* Code for Firefox */
  color: gray;
  background: #fff080;
  padding: 0 5px;
}

/* hyperlink styling with <a> */
a {
  color: white;
  /* color: #fff080; */
  text-decoration: none;
}

#tag {
  cursor: pointer;
  color: #faca19;
  margin-right: 0.3em;
}
#tag:hover {
  text-shadow: 2px 2px 4px darkred;
}
#title {
  text-transform: uppercase;
  color: #faca19;
  text-shadow: 2px 2px 2px darkred, 2px -2px 2px darkred, -2px 2px 2px darkred, -2px -2px 2px darkred;
}